// Layout component styles

// Custom scrollbar for main content
main {
  >div::-webkit-scrollbar {
    width: 8px;
  }

  >div::-webkit-scrollbar-track {
    background: var(--minted-scrollbar-track);
  }

  >div::-webkit-scrollbar-thumb {
    background-color: var(--minted-scrollbar-thumb);
    border-radius: 20px;
  }

  >div::-webkit-scrollbar-thumb:hover {
    background-color: var(--minted-scrollbar-hover);
  }
}